{% load static %}{% load common %}{% load thumbnail %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Andrew Dunai</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&amp;subset=cyrillic" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />
        <link rel="stylesheet" type="text/css" href="{% root %}{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% root %}{% static 'css/print.css' %}?24" />
        <link rel="stylesheet" type="text/css" href="{% root %}{% static 'css/devicons.min.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#080800" />
        <meta name="msapplication-navbutton-color" content="#080800" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#080800" />
    </head>
    <body>
        <div class="main">
            <div class="splash">
                <div class="photo middle">
                    <img src="{% root %}{% static 'images/me_cv.jpg' %}" class="responsive" />
                </div>
                <div class="title middle">
                    <h1>Andrew<br />Dunai</h1>
                </div>
            </div>
            <div class="bio">
                {% for paragraph in cv.bio %}
                <p>
                    {{ paragraph }}
                </p>
                {% endfor %}
            </div>
            <div class="companies">
                <h2>Professional experience</h2>
                {% for company in cv.companies %}
                <div class="company">
                    <span class="middle">
                        <img class="company-icon" src="{% root %}{% static company.icon %}" alt="{{ company.name }} icon" style="{% if company.bgcolor %}background: {{ company.bgcolor }}{% endif %}" />
                    </span>
                    <span class="middle">
                        <h3>{{ company.name }}</h3>
                    </span>
                    <h4>
                        {{ company.role }} ({{ company.start|date:"b Y" }} - {% if company.end %}{{ company.end|date:"b Y" }}{% else %}now{% endif %})
                    </h4>
                    <p class="company-descr">{{ company.description }}</p>
                    <div class="company-technologies">
                        <p>Technologies: {% for technology in company.technologies %}{{ technology }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="projects">
                <h2>Public contributions</h2>
                {% for project in projects %}
                <div class="project">
                    <h3 class="project-header"><u>{{ project.title }}</u>{% if project.stars %} ({{ project.stars }} stars){% endif %}</h3>
                    <div class="project-description">
                        {{ project.description }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="misc">
                <h2>Fun facts</h2>
                <ul>
                    {% for fact in cv.misc %}
                        <li>{{ fact }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="contacts">
                <h2>Contacts</h2>
                <ul>
                    <li>Website: <u>dun.ai</u></li>
                    <li>Linkedin: <u>linkedin.com/in/dunai</u></li>
                    <li>Email: a@dun.ai</li>
                    <li>Phone: +(380) 63 37 000 97</li>
                </ul>
            </div>
        </div>
    </body>
</html>

