html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Roboto;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

:root {
    --background: #1B1D1E;
    --black: #080800;
    --white: #F8F8F0;
    --off-white: #C4BE89;
    --cyan: #66D9EF;
    --deep-blue: #13354A;
    --blue-gray: #465457;
    --light-blue: #899CA1;
    --green: #B6E354;
    --yellow: #FEED6C;
    --orange: #FD971F;
    --red: #FF0000;
    --magenta: #FF5995;
    /*--background: #1B1D1E;*/
    /*--black: #080800;*/
    /*--white: #F8F8F0;*/
    /*--off-white: #C4BE89;*/
    /*--cyan: #66D9EF;*/
    /*--deep-blue: #13354A;*/
    /*--blue-gray: #293739;*/
    /*--light-blue: #7E8E91;*/
    /*--green: #A6E22E;*/
    /*--yellow: #E6DB74;*/
    /*--orange: #FD971F;*/
    /*--red: #FF0000;*/
    /*--magenta: #F92672;*/
}

html, body {
    background: var(--black);
    font-family: Roboto;
    font-size: 12px;
    color: #FFFFFF;
    transition: background-color 0.2s linear, color 0.2s linear;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.4rem;
}

.header {
    text-align: center;
}

.header h1.headline {
    margin: 0;
    font-size: 6rem;
    /*line-height: 100%;*/
    font-weight: 100;
    color: var(--blue-gray);
}

.header h1.headline .impact {
    display: block;
    font-size: 0;
    letter-spacing: 0.75rem;
    color: var(--white);
    /*margin: 0.75rem 0 1.75rem;*/
}

.header h2.message {
    /*font-size: 3rem;*/
    font-size: 1.7rem;
    line-height: 100%;
    margin: 1rem 0 0;
    font-weight: 300;
    color: var(--green);
}

.header h1.headline .impact span {
    font-size: 7.5rem;
    line-height: 7.5rem;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header h1.headline .impact span {
    animation: blink 2.5s infinite;
    opacity: 0.7;
}

.header h1.headline .impact span:nth-child(1) {
    animation-delay: 0s;
}
.header h1.headline .impact span:nth-child(2) {
    animation-delay: 0.1s;
}
.header h1.headline .impact span:nth-child(3) {
    animation-delay: 0.2s;
}
.header h1.headline .impact span:nth-child(4) {
    animation-delay: 0.3s;
}
.header h1.headline .impact span:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.7;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    }
    20% {
        opacity: 1;
        text-shadow: 2px 2px 5px var(--cyan);
    }
    40% {
        opacity: 0.7;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    }
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
    padding: 2rem;
}

.splash {
    /*background: var(--black);*/
    color: var(--white);
    /*filter: custom(url(../shaders/hotline.vert) url(../shaders/hotline.frag), 5 5, time 1);*/
    /*background-image: url(//dun.ai/media/photos/angelhack.jpg);*/
    /*background-position: center;*/
    /*background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/13620703_1229185670425494_732916301191631869_n.jpg?oh=5e59d5dc74b4f6aa9a1f43ebb456f152&oe=5AD64B11);*/
    /*background-position: bottom;*/
    min-height: 80vh;
    position: relative;
    overflow: hidden;
    /*transition: filter 0.25s linear;*/
    /*background: #212;*/
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/
}

.splash-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(/static/images/me5-blurred.jpg);
    background-position: bottom;
    background-size: cover;
    /*filter: blur(10px);*/
}

.splash-inside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(8, 8, 0, 0.91);
    display: flex;
    align-items: center;
}

.splash-slash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: transparent;
    border-style: solid;
    border-color: transparent transparent var(--black) transparent;
    border-width: 0 100vw 10vw 0;
}

p {
    font-size: 1.5rem;
    text-align: justify;
    font-weight: 300;
    font-family: Open Sans;
}

.companies {
    /*background: var(--black);*/
    /*color: var(--off-white);*/
}

.company-icon {
    vertical-align: center;
    width: 2rem;
    height: 2rem;
}

.company-role {
    vertical-align: center;
    color: var(--magenta);
    font-weight: 300;
}

.company-name {
    vertical-align: center;
    color: var(--cyan);
    font-weight: 300;
}

.company-date {
    color: var(--green);
    float: right;
}

.company-technologies {
    padding: 0 0 2rem 4rem;
    cursor: default;
    font-size: 0;
}

.company-technologies .technology {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
    font-size: 1rem;
}

.company-technologies .technology i.icon {
    /*color: var(--magenta);*/
    padding: 0.5rem;
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    color: var(--white) !important;
}

.company-technologies .technology img.icon {
    /*color: var(--magenta);*/
    padding: 0.5rem;
    width: auto;
    height: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}

.company-technologies .technology .name {
    padding-left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    font-family: Open Sans;
    text-transform: uppercase;
}

.company-descr {
    margin: 0;
    padding: 0 0 1rem 4rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #EEEEEE;
    /*color: var(--white);*/
}

.contacts {
}

.contacts .contact {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.contacts .contact img, .contacts .contact span {
    padding: 1rem;
    vertical-align: middle;
}

.contacts .contact span {
}

.contacts .contact a:link, .contacts .contact a:hover, .contacts .contact a:active, .contacts .contact a:visited {
    color: var(--magenta);
}

.contacts .contact.linkedin img {
    background-color: #0274B3;
}

.contacts .contact.email img {
    background-color: #DF0024;
}

.contacts .contact.phone img {
    background-color: #42B41E;
}

.row {
    font-size: 0;
    display: block;
}

.row .col {
    font-size: 1rem;
    display: inline-block;
    width: 33.3333%;
    padding: 1rem;
    transition: width 0.14s ease-out;
}

.feature {
    display: block;
    position: relative;
    border: 2px solid transparent;
    transition: border 0.11s ease-out;
}

.feature .cover {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 66.66%;
    background-size: cover;
    background-position: center;
}

.feature .note {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.86);
    font-size: 1.6rem;
    padding: 1rem;
    font-weight: 300;
    font-family: Open Sans;
    color: #FFF;
    text-decoration: none;
    transition: background 0.11s ease-out, color 0.11s ease-out;
}

.feature:hover {
    /*border: 2px solid #FF5995;*/
    border: 2px solid var(--cyan);
}

.feature:hover .note {
    /*background: rgba(255, 89, 149, 1);*/
    /*background: #66D9EF;*/
    color: var(--cyan);
    /*background: rgba(32, 0, 10, 0.92);*/
}

.popup {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 0.14s ease-out;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.popup.visible {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.popup-note {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.74);
    z-index: 2;
}

img.responsive {
    width: 100%;
    height: auto;
}

.social {
    width: 5rem;
    height: 5rem;
}

.nohl {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.tippy-backdrop {
    background: var(--green) !important;
}

.tippy-tooltip {
    border-radius: 0;
}

.tippy-tooltip .tippy-content {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Open Sans;
    color: var(--black);
}

:focus {
    outline: none !important;
}

@media screen and (max-width: 960px) {
    html, body {
        font-size: 10px;
    }
    .company-name {
        display: block;
    }
    .company-date {
        display: block;
        float: none;
    }
    .hide-on-sm {
        display: none;
    }
    .row .col {
        width: 100%;
    }
    .popup-note {
        font-size: 2rem;
    }
}

