html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Roboto;
}

html, body {
    background: #212;
    font-family: Roboto;
    font-size: 12px;
    color: #FFF;
}

h1, h2, h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1.a {
    font-size: 6rem;
    line-height: 100%;
    margin-bottom: 0;
}

h1.b {
    margin: 0;
    line-height: 100%;
    font-size: 7.5rem;
    letter-spacing: 0.7rem;
}

h2.sub {
    font-size: 2.4rem;
    line-height: 100%;
    margin-top: 1rem;
    font-weight: 100;
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1080px;
}

.splash {
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*background: #212;*/
    /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/
}

