* {
    box-sizing: border-box;
}

html, body {
    font-family: Roboto;
    font-size: 16px;
}

body {
    padding: 2rem;
}

h1, h2, h3 {
    font-weight: 100;
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

.middle {
    display: inline-block;
    vertical-align: middle;
}

.responsive {
    width: 100%;
    height: auto;
}

.row {
    font-size: 0;
    margin-left: -2rem;
    margin-right: -2rem;
}

.row [class^="col-"], .row [class*=" col-"] {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    padding-left: 2rem;
    padding-right: 2rem;
}

.row .col-1-2 {
    width: 50%;
}

.row .col-1-3 {
    width: 33.3333%;
}

.splash {
    display: table;
}

.splash .photo {
    width: 10rem;
    height: 10rem;
    display: table-cell;
}

.splash .title {
    display: table-cell;
    padding: 0 2rem;
}

.splash .title h1 {
    margin: 0;
}

.company-icon {
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
}

